  <div class="row m-0 mt-5 mb-5">
    <div class="col-sm-12 col-md-4 col-lg-7 p-0 img">
      <img src="signup.png" alt="" class="">
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 content">
      <div class="mt-5">
        <div class="">
          <h1>Create an account</h1>
          <p class="mb-5">Enter your details below</p>
          <input type="text" placeholder="Name" class="d-block w-100 p-1">
          <input type="text" placeholder="Email or Phone Number" class="d-block w-100 p-1">
          <input type="text" placeholder="Password" class="d-block w-100 p-1">
          <button>Create Account</button>
          <button>
            <img src="google.png" alt="">
            Sign up with Google
          </button>
        </div>
          <p class="text-center">Already have account? <a class="ms-2 pb-1" href="#">Log in</a></p>
      </div>
    </div>
  </div>
